@{
    ViewData["Title"] = "index";
}
<section class="content">
    <div class="card mt-2 ">
        <div class="card-body">

            <h1 class="text-center">Login</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <form action="/" method="post">
                            <input type="text" class="form-control" name="user_name" value=""
                                placeholder="User Name" /><br>
                            <input type="password" class="form-control" name="user_password" value=""
                                placeholder="Password" /><br>
                            <input type="button" class="btn btn-primary" name="Submit" value="Login" />
                        </form>
                    </div>
                    <div class="col-sm-4"></div>
                </div>

            </div>
        </div>
    </div>
</section>