<section class="content">
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Order List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="orderno">Order No</label>
                                <input type="text">
                                <label for="customer">Customer</label>
                                <select name="customerName" id="customerName">
                                    <option value="">1</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary">Filter</button>
                            </div>
                            <div class="col-sm-4">
                                <a href="/product/create" class="btn btn-info">Add FIle</a>
                            </div>
                        </div>
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Order No</th>
                                    <th>Order Date</th>
                                    <th>Customer Name</th>
                                    <th>Ship Name</th>
                                    <th>Total Price/th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            </tbody>
                            <tr>
                                <td>1</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>